{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
  <div style="display: {{status}}">
  <i class="material-icons prefix">verified_user</i>
  Registration process completed
  </div>
  <h1>Sign up Form</h1>
  <div class="row">
    <form class="col s12" role="form" method='POST' action='/login' autocomplete="off">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name = "name">
          <label for="icon_prefix">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_identity</i>
          <input id="password" type="password" class="validate" name = "password">
          <label for="password">Password</label>
        </div> 
      </div>
      <a href = '/signup'>Want to create an account ?</a>
      <br>
      <br>
        <div style="display: {{error}}">
       <i class="material-icons prefix">error</i>
       Username or password is incorrect
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
{% block js_footer %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/jquery-2.1.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/materialize.js')}}"></script>
<script type="text/javascript" language="javascript">
  $(document).ready(function() {
    $('input#email, textarea#textarea1, input#password').characterCounter();
  });
  {{dialog}}
</script>
{% endblock %}
